/* Main */
.allPosts__planning{
    padding-top: 40px;
    padding-right: 80px;
    padding-left: 45px;
    height: 100%;
    color: #C4C4C4;
}

.allPosts__wrapper{
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.allPosts__content{
    width: 80%;
}

.info__button-wrapper{
    margin-bottom: 20px;
}

.info__button-wrapper button{
     color: #C4C4C4;
     font-size: 14px;
     width: 154px;
    border-radius: 10px;
     padding: 8px 0;
     background-color: #474C50;
     border: none;
     cursor: pointer;
     transition: all .3s;
     
}

.info__button-wrapper button:hover,
.planning__button:hover{
    background-color: #3E4549;
}

.allPosts__posts-title{
    font-size: 24px;
    color: #c4c4c4;
    margin-bottom: 20px;
}

.allPosts__settings-title{
    font-size: 24px;
    color: #c4c4c4;
    margin-bottom: 30px;
}

.planning__button{
    color: #C4C4C4;
    font-size: 14px;
    padding: 10px 40px;
    background-color: #474C50;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: all .3s;
}


.info__button-wrapper{
    display: flex;
    justify-content: space-between;
}

.info__button-box{
    display: flex;
    max-width: 542px;
    width: 100%;
    justify-content: space-between;
    margin-left: 90px;
}

.allPosts__content-info{
    height: 100%;
}

.allPosts__content-posts{
    width: 100%;
    height: 100%;
    background-color: #474C50;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 15px;
}

.allPosts__settings-filterWrap{
    width: 237px;
    height: 280px;
    background: #474C50;
    border-radius: 10px;
    margin-top: 10px;
    padding: 12px;
    margin-bottom: 30px;
}

.allPosts__settings-filterItem{
    height: 30px;
    width: 100%;
    background-color: #2F3437;
    color: #C4C4C4;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
}

.allPosts__settings-filterItem__text{
    cursor: pointer;
}

.allPosts__settings-filterItem + .allPosts__settings-filterItem{
    margin-top: 10px;
}

.allAccounts_item-text-time{
    margin-left: 13px;
}
/* Post */
.post__planning{
    width: 100%;
    height: 181px;
    background-color: #2F3437;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 20px 30px 20px 15px;
    display: flex;
    justify-content: space-between;
}

.post__planning-content{
    width: 122px;
    height: 141px;
}

.post__planning-content img{
    width: 100%;
    height: 100%;
}

.post__planning-text{
    max-width: 330px;
    width: 100%;
    max-height: 96px;
    height: 100%;
}

.post__planning-edit{
    width: 40px;
    height: 40px;
    background-color: #474C50;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
    cursor: pointer;
}

.post__planning-edit:hover{
    background-color: #3E4549;
}

.post__planning-edit__button{
    border: none;
    background: transparent;
    cursor: pointer;
}

.post__planning-wrapper{
    max-width: 830px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
}



.post__planning-data__account{
    display: flex;
    align-items: center;
}

.post__planning-account-img{
    width: 45px;
    height: 45px;
}

.post__planning-account-img img{
    width: 100%;
    height: 100%;
}

.post__planning-account-name{
    margin-left: 5px;
}

.post__planning-text{
    font-size: 14px;
    overflow: hidden;
}

.post__popup{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.post__popup-wrapper{
    max-width: 590px;
    width: 100%;
    border-radius: 20px;
    background-color: #2F3437;
    padding: 23px 30px;
    position: relative;
}

.post__popup-close{
    position: absolute;
    top: 23px;
    right: 32px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.post__popup-title{
    font-size: 24px;
    margin-bottom: 50px;
}

.post__popup-text textarea{
    width: 100%;
    height: 150px;
    background-color: #474C50;
    border-radius: 20px;
    border: none;
    resize: none;
    color: #C4C4C4;
    margin-bottom: 30px;
    outline: none;
    padding: 14px 17px;
}

.post__popup-upload{
    width: 154px;
    height: 32px;
    background: #474C50;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .3s;
    margin-bottom: 10px;
    position: relative;
}

.post__popup-upload input{
    display: none;
}

.post__popup-upload:hover{
    background-color: #3E4549;
}

.post__popup-uploadIcon{
    width: 20px;
    height: 20px;
}

.post__popup-upload_text{
    color: #C4C4C4;
    font-size: 14px;
    margin-left: 10px;
}

.post__popup-select__wrapper{
    position: relative;
}

.post__popup-label select{
    width: 100%;
    height: 40px;
    background-color: #474C50;
    margin-top: 5px;
    border-radius: 10px;
    border: none;
    color: #C4C4C4;
    padding-left: 10px;
    appearance: none;
    outline: none;
    cursor: pointer;
    font-size: 13px;
}

.post__popup-select__arrow{
    position: absolute;
    right: 13px;
    top: 50%;
    cursor: pointer;
}

.selected__account{
    background: #474C50;
    width: 100%;
    border-radius: 20px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.selected__account-wrapper{
    display: flex;
    align-items: center;
}

.selected__account-calendar{
    display: flex;
    background-color: #2F3437;
    padding: 5px;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
    position: relative;
}

.calendar-date{
    pointer-events: none;
    font-size: 14px;
}

.calendar__icon{
    width: 14px;
    height: 15px;
    margin-left: 5px;
    pointer-events: none;
}

.selected__account-time-wrapper{
    position: relative;
}

.selected__account-label select{
    width: 44px;
    margin-left: 2px;
    padding-left: 5px;
    height: 25px;
    background-color: #2F3437;
    border: none;
    color: #C4C4C4;
    padding-right: 3px;
    appearance: none;
    outline: none;
    cursor: pointer;
    font-size: 13px;
}

.selected__account__arrow{
    position: absolute;
    right: 3px;
    top: 10px;
    cursor: pointer;
}

.open-calendar{
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.post__popup-add{
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
}

.post__popup-add button{
    border: none;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
}



.preview{
    width: 122px;
    height: 141px;
    margin-bottom: 10px;
    position: relative;
}

.preview__edit{
    position: absolute;
    left: 0;
    top: 0;
    width: 17px;
    height: 15px;
    background-color: #2F3437;
    z-index: 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preview video{
    width: 100%;
    height: 100%;
}

.preview__edit img{
    width: 10px;
    height: 10px;
}

.previewPopup{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 11;
    background-color: rgba(0, 0, 0, 0.7);
}

.previewPopup__wrapper{
    width: 600px;
    height: 400px;
    background-color: #2F3437;
    border-radius: 20px;
    overflow: hidden;
}

.preview__conrol{
    width: 100%;
    height: 30px;
    background-color: #474C50;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.preview__control-fixed{
    width: 50px;
    height: 100%;
    background-color: #3E4549;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.preview__control-fixed img{
    width: 20px;
    height: 20px;
}

.preview__control-close{
    width: 50px;
    height: 100%;
    background-color: #3E4549;
    display: flex;
    align-items: center;
    justify-content: center; 
    cursor: pointer;
}

.preview__control-close img{
    width: 15px;
    height: 15px;
}

.preview__video{
    width: 100%;
    height: 100%;
}

.preview__video video{
    width: 100%;
    height: 92%;
}