* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
li{
    list-style: none;
}

.sidebar{
    width: 100px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #474c50;
    padding-top: 70px;
    color: white;
}

.sidebar-menu {
    margin-top: 20px;
}

.sidebar-menu li{
    text-align: center;
    margin-bottom: 20px;
}