.FollowPosts{
    background: rgb(47, 52, 55);
    margin-left: 100px;
    color: #b8babb;
    
}

.allPosts{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px 0px 15px 15px;
}

.find-acount{
    max-width: 300px;
    display: flex;
    align-items: flex-end;
}

.find-acount__label{
    display: block;
    margin-bottom: 10px;
}

.find-acount input{
    height: 35px;
}

.allAcounts{
    max-width: 160px;
    width: 100%;
    background-color: #ccc;
    color: #000;
    height: 100px;
    overflow-y: scroll;
}

.accaunt-wrapper{
    display: flex;
    justify-content: space-between;
}

.accaunt-del{
    cursor: pointer;
}